.searchBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchBarForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchLabel {
  font-size: 2rem;
  font-weight: 600;
}

.playlistQuote {
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
}

.searchBarButtonContainer {
  display: flex;
  gap: 1rem;
}

.searchBarDiv {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border-radius: 100rem;
  background-color: #1f1f1f;
  transition: box-shadow .3s ease-in-out, background-color .2s ease-in-out;
}

.searchBarDiv:hover {
  box-shadow: 0 0 0 1px #cccccc44 inset;
  background-color: #2a2a2a;
}

.searchBarDiv:focus {
  box-shadow: 0 0 0 2px #dbdbdb inset;
  background-color: #2a2a2a;
  outline: none;
}

.searchButton {
  border: none;
  background: transparent;

}

.searchIcon {
  color: #cccccc9a;
  transition: color .3s ease-in-out;
}

.searchIcon:hover {
  cursor: pointer;
  color: #e0e0e0;
}

.searchBar {
  width: 100%;
  max-width: 350px;
  padding: 0.7rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #e0e0e0;
  background-color: transparent;
}

.searchBar:focus {
  outline: none;
}

.xMark {
  color: #9e9e9e;
}

.xMark:hover {
  color: #e0e0e0;
  cursor: pointer;
}

.xMarkHidden {
  visibility: hidden;
}

@media only screen and (max-width: 1060px) {
  .searchBarContainer {
    padding: 1rem 0 0;
    align-items: flex-start;
  }

  .searchBarButtonContainer,
  .searchBarDiv {
    width: 100%;
  }

  .searchLabel {
    display: none;
  }

  .searchBar {
    max-width: none;
  }

}

@media only screen and (max-width: 540px) {
  .searchBar {
    font-size: 1rem;
  }
}