.notificationContainer {
  padding: 0 0.5rem;
  position: fixed;
  z-index: 15;
  top: 20px;
}

.notification {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

.notification.warning {
  color: rgb(187, 121, 0);
  border-left: 5px solid rgb(216, 140, 0);
}

.notification.error {
  color: rgb(233, 48, 48);
  border-left: 5px solid rgb(180, 0, 0);
}

.notification.success {
  color: rgb(50, 194, 50);
  border-left: 5px solid rgb(38, 148, 38);
}

.xMark {
  height: 100%;
  margin-left: 10px;
  padding: 12px;
  background-color: rgb(46, 46, 46);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.xMark.warning:hover {
  cursor: pointer;
  background-color: rgb(216, 140, 0);
  color: rgb(46, 46, 46);
}

.xMark.error:hover {
  cursor: pointer;
  background-color: rgb(216, 0, 0);
  color: rgb(46, 46, 46);
}

.xMark.success:hover {
  cursor: pointer;
  background-color: rgb(50, 194, 50);
  color: rgb(46, 46, 46);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}