:root {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}

body {
  background-color: black;
  color: whitesmoke;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1.4rem;
  border-radius: 100rem;
  border: none;
  background-color: rgb(59, 145, 59);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(0, 104, 0);
}

.btn:active {
  background-color: rgb(0, 50, 0);
}

.containerFull {
  padding: 0 1rem 1rem;
  display: flex;
  justify-content: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: linear-gradient(rgb(20, 20, 20) 30%, rgb(10, 10, 10) 100%);
}

.containerFit {
  width: 1250px;
  display: flex;
}

.App {
  display: grid;
  grid-template: 80px calc(100vh - 80px) / 1fr;
  /* background: linear-gradient(rgb(20, 20, 20) 30%, rgb(10, 10, 10) 100%); */
}

.NavBar {
  grid-area: span 1 / span 2;
}

.main {
  width: 100%;
  grid-area: span 1 / span 2;
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr 1fr;
  column-gap: 1rem;
}

.SearchBarContainer {
  grid-area: span 1 / span 2;
}

.TrackResultsContainer,
.PlaylistContainer {
  overflow: hidden;
  grid-area: span 1 / span 1;
  display: grid;
  grid-template: 60px 1fr / 1fr;
  /* padding: 2rem; */
}

.ModalContainer {
  padding: 10px;
  position: absolute;
  top: 70px;
}

.developerContainer a {
  text-decoration: underline;
}

.creditsContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.spotifyContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spotifyLogo {
  width: 100px;
}

@media only screen and (max-width: 1250px) {
  .containerFit {
    width: 100%;
  }
}

@media only screen and (max-width: 1060px) {

  .App {
    grid-template: 80px calc(100% - 80px) / 1fr;
  }

  .main {
    grid-template: 100px 500px 500px / 100%;
  }

  .SearchBarContainer {
    grid-area: span 1 / span 1;
  }

  /* .TrackResultsContainer,
  .PlaylistContainer {
    padding: 0.8rem;
  } */

}

@media only screen and (max-width: 540px) {
  .creditsContainer {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}